html,body{
    height:90vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
}